body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(44, 44, 44, 1);
}
.gfl-container {
    display: flex;
    flex-flow: row nowrap;
}
.gfl-container > * {
    flex-basis: 25%;
}
.production-dolls {
    margin: 0;
    padding: 0;
}
.production-dolls ul {
    margin: 0;
    color:rgb(0, 192, 166);
    background-color: rgba(55, 55, 55, 1);
    padding: 0;
    border:1px solid black;
    overflow: auto;
    height:1000px;
    list-style: none;
}
.production-dolls ul li {
    border: 1px solid black;
}